<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/quiz1.css">
</head>
<body>
  <div class="navbar">
       
    <div class="name"><%=email%></div>
    <div class="highest">Highest score  <%=score%></div>
    <div class="current">Current Score 3</div>
 
</div>
    <form action ="/quiz2" method="post">
    <div class="quiz-container" id="quiz">
        <div class="quiz-header">
          <h2 id="question">Color of the car which was shown</h2>
          <ul>
            <li>
              <input type="radio" name="answer" value="green" id="a" class="answer" />
              <label for="a" id="a_text">Green</label>
            </li>
      
            <li>
              <input type="radio" name="answer" value="yellow" id="b" class="answer" />
              <label for="b" id="b_text">yellow</label>
            </li>
      
            <li>
              <input type="radio" name="answer" id="c" class="answer" value="red" />
              <label for="c" id="c_text">red</label>
            </li>
      
            <li>
              <input type="radio" name="answer" id="d" class="answer" value="black" />
              <label for="d" id="d_text">Black</label>
            </li>
          </ul>
        </div>
        <button id="submit" onclick=playMusic2()>Check</button>
      </div>
    </form>
      
    <script src="./javascript/quiz1.js"></script>
</body>
</html>