<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/quiz1.css">
</head>
<body>
  <div class="navbar">
       
    <div class="name"><%=email%></div>
    <div class="highest">Highest score  <%=score%></div>
    <div class="current">Current Score 4</div>
 
</div>
    <form action ="/quiz3" method="post"  id="quiz1form">
    <div class="quiz-container" id="quiz">
        <div class="quiz-header">
          <h2 id="question">The link you followed was related to</h2>
          <ul>
            <li>
              <input type="radio" name="answer" value="Rohit" id="a" class="answer" />
              <label for="a" id="a_text">Rohit Sharma</label>
            </li>
      
            <li>
              <input type="radio" name="answer" value="Virat" id="b" class="answer" />
              <label for="b" id="b_text">Virat Kohli</label>
            </li>
      
            <li>
              <input type="radio" name="answer" id="c" class="answer" value="Sachin" />
              <label for="c" id="c_text">Sachin Tendulkar</label>
            </li>
      
            <li>
              <input type="radio" name="answer" id="d" class="answer" value="Sehwag" />
              <label for="d" id="d_text">Virendra Sehwag</label>
            </li>
          </ul>
        </div>
        <button id="check" type="submit" >Check</button>
      </div>
    </form>
      
      
    <script src="./javascript/quiz1.js"></script>
      
</body>
</html>