<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <title>Document</title>
</head>
<body>
     <div class="container right-panel-active">
      
        <div class="container__form container--signup">
            <form action="/signup" class="form" id="form1" method="post">
                <h2 class="form__title">Sign Up</h2>
           
                <input type="email" placeholder="Email" class="input" name="email" required />
                <input type="password" placeholder="Password" class="input" name="password" required/>
                <button class="btn" type="submit">Sign Up</button>
            </form>
        </div> 
    
      
       
        <div class="container__overlay">
            <div class="overlay">
                <div class="overlay__panel overlay--left">
                    <form action="\login" method="get" style="margin-bottom: 10px;">
                    <button class="btn" id="signIn" type="submit">Sign In</button>
                </form>
                <form action="\admin" method="get">
                    <button class="btn" type="submit">Admin Login</button>
                </form>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>